
.full-cart  {
    position: relative;
    border: 1px solid aquamarine;
    border-radius: 10px;
    

}


.card img {}

.btn-cart {
    width: 100%;
    background-color: antiquewhite;
    color: black;
    border-radius: 0 0 8px 8px;
    position: absolute;
    bottom: 0;
    right: 0;

}